{% extends 'Main_Layout.html' %}
{% block title %}
    Staff form
{% endblock %}

{% block content %}
    <fieldset>
        <legend>
            Add new Staff member
        </legend>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <table id="form_table" cellSpacing=10 cellpadding="5">
                {% if success %}
                <tr id="success_msg">
                    <th colspan="3">
                        {{ success }}
                    </th>
                </tr>
                {% endif %
                <tr id="required_msg">
                    <th colspan="3">
                        <span>*</span> All fields are required
                    </th>
                </tr>
                <tr>
                    <th>{{ vdf.name.label }}</th>
                    <th>{{ vdf.name }}</th><th>{{ vdf.name.errors }}</th>
                </tr>
                <tr>
                    <th>{{ vdf.gender.label }}</th>
                    <th>{{ vdf.gender }}</th><th>{{ vdf.gender.errors }}</th>
                </tr>
                <tr>
                    <th>{{ vdf.contact.label }}</th>
                    <th>{{ vdf.contact }}</th><th>{{ vdf.contact.errors }}</th>
                </tr>
                <tr>
                    <th>{{ vdf.email.label }}</th>
                    <th>{{ vdf.email }}</th><th>{{ vdf.email.errors }}</th>
                </tr>
                <tr>
                    <th>{{ vdf.address.label }}</th>
                    <th>{{ vdf.address }}</th><th>{{ vdf.address.errors }}</th>
                </tr>
                <tr>
                    <th>{{ vdf.qualification.label }}</th>
                    <th>{{ vdf.qualification }}</th><th>{{ vdf.qualification.errors }}</th>
                </tr>
                <tr>
                    <th>{{ vdf.designation.label }}</th>
                    <th>{{ vdf.designation }}</th><th>{{ vdf.designation.errors }}</th>
                </tr>
                <tr>
                    <th>{{ vdf.join_date.label }}</th>
                    <th>{{ vdf.join_date }}</th><th>{{ vdf.join_date.errors }}</th>
                </tr>
                <tr>
                    <th>{{ vdf.salary.label }}</th>
                    <th>{{ vdf.salary }}</th><th>{{ vdf.salary.errors }}</th>
                </tr>
                 <tr>
                    <th colspan="3">&nbsp;
                        &nbsp;
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="reset" value="Reset Form" onclick="alert('your page is refreshed')">
                    </th>
                    <th>
                        <input type="submit" value="Submit Form" onclick="alert('Check data before submit')">
                    </th>
                    <th>
                        <a href="{% url 'Show_Staff_Details' %}">Show Staff list</a>
                    </th>
                </tr>
            </table>
        </form>
    </fieldset>
{% endblock %}
