{% extends 'Main_Layout.html' %}
{% load static %}

{% block title %}
    Checkout Details
{% endblock %}

{% block content %}
    <fieldset>
        <legend>
            Checkout Details
        </legend>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <table id="show-table" cellSpacing='5' cellpadding="5" width="100%">
            {% if checkout_list %}
                <tr>
                    <th>Bill. No</th>
                    <th>Patient name </th>
                    <th>Gender </th>
                    <th>Date of Birth</th>
                    <th>Age </th>
                    <th>Contact </th>
                    <th>Address </th>
                    <th>admit date </th>
                    <th>Disease </th>
                    <th>Room no </th>
                    <th>Total bill</th>
                    <th>departure Date </th>
                    <th>Payment status</th>
                    <th>Action</th>
                </tr>
                {% for check in checkout_list %}
                <tr>
                    <td style=" width: 6%" >{{ check.bill_no }}.</td>
                    <td style=" width: 6%" >{{ check.patient }}</td>
                    <td style=" width: 6%" >{{ check.gender }}</td>
                    <td style=" width: 6%" >{{ check.d_o_b }}</td>
                    <td style=" width: 6%" >{{ check.age }}</td>
                    <td style=" width: 6%" >{{ check.contact }}</td>
                    <td style=" width: 6%" >{{ check.address }}</td>
                    <td style=" width: 6%" >{{ check.date_of_adm }}</td>
                    <td style=" width: 6%" >{{ check.disease }}</td>
                    <td style=" width: 6%" >{{ check.room_no }}</td>
                    <td style=" width: 6%" >{{ check.total_bill }}</td>
                    <td style=" width: 6%" >{{ check.date_of_dis }}</td>
                    <td style=" width: 6%" >{{ check.payment_status }}</td>
                    <td style=" width: 6%" >
                        <a href="{% url 'Update_Checkout' check.bill_no %}">Update </a> ||
                        <a href="{% url 'Delete_Checkout' check.bill_no %}">Delete </a>
                    </td>

                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <th colspan="16">
                        No Record Found
                    </th>
                </tr>
                {% endif %}
                <tr>
                    <th colspan="6">
                        <a href="{% url 'Checkout_Form' %}">Add new Checkout detail</a>
                    </th>
                    <th colspan="10">

                        {% if checkout_list.has_previous %}

                        <a href="?page=1">First</a> |
                        <a href="?page={{ checkout_list.previous_page_number }}">prev</a>

                        {% endif %}
                        page {{ checkout_list.number }} of {{  checkout_list.paginator.num_pages }}
                        {% if checkout_list.has_next %}

                        <a href="?page={{ checkout_list.next_page_number }}">next</a> |
                        <a href="?page={{ checkout_list.paginator.num_pages}}">Last</a>

                        {% endif %}
                    </th>
                </tr>
            </table>
        </form>
    </fieldset>
{% endblock %}
