{% extends 'Main_Layout.html' %}
{% load static %}

{% block title %}
    Password reset form
{% endblock %}
{% block content %}
    <fieldset>
        <legend>
            <strong>Password reset form</strong>
        </legend>
        <form action="" method="post" novalidate >
            {% csrf_token %}
            <table align="center" cellSpacing='5' cellpadding="5" width="600">
                {% if form.email.errors %}
                <tr>
                    <td colspan="2">
                        <span>
                            {{ form.email.errors }}
                        </span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>{{ form.email.label_tag }}</th>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <th>
                        <input type="reset" value="Reset Form">
                    </th>
                    <th>
                        <input type="submit" value="Reset Password">
                    </th>
                </tr>
            </table>
        </form>
    </fieldset>
{% endblock %}
