{% extends 'Main_Layout.html' %}
{% load static %}

{% block title %}
    new Password confirm
{% endblock %}
{% block content %}

    {% if validlink %}
        <fieldset>
            <legend>
                <strong>Reset Password </strong>
            </legend>
            <form action="" method="post">
                {% csrf_token %}
                <table align="center" cellSpacing='5' cellpadding="5" width="600">
                    <tr>
                        <th>{{ form.new_password1.errors }}
                            <label for="id_new_password1">New password</label>
                        </th>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Re enter password</label>
                        </th>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <th>
                            <input type="reset" value="Reset Form">
                        </th>
                        <th>
                            <input type="submit" value="Change Password">
                        </th>
                    </tr>
                </table>
            </form>
        </fieldset>
    {% else %}
        <p>password reset failed</p>
        <p>invalid link, this link is already used or have some error, no request new link </p>
    {% endif %}
{% endblock %}
